body {
    text-align: center;
    font-family: Roboto;
    background-color: #16297A;
    display: grid;

}

#app {
    margin: auto;
    display: grid;
    grid-template-rows: 70px 130px 50px 1fr;
    min-width: 400px;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.5);
    resize: none;
    overflow: auto;
    
}

h1 {
    font-family: Roboto;
    font-size: 40px;
    margin: 0;
}

h2 {
    margin: 0;
    padding: 0 0 10px 0;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 20px auto 20px auto;
}

tr {
    /* height: 30px; */
}

td {
    width: 25px;
    height: 25px;
    background-color: white;
}

form {
    display: grid;
    grid-template-columns: 150px 100px;
    justify-content: center;
    justify-items: center;
    gap: 5px;
}

#submit {
    grid-column: span 2;
}

input[type=number] {
    width: 3rem;
}

input[type=color] {
    /* margin-top: 10px; */
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    padding: 1px;
}

#headerColor {
    display: inline-block;
}

.recent {
    display: inline-block;
    width: 30px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
}

